{% extends 'base.html.twig' %}

{% block body %}

<div class="wrapper">
<div class="container" class="col-md-10 col-md-offset-1 col-sm-12" style="top: 30px">
	<div style="padding-bottom: 20px">
		<a href="/addEmployee" class="btn btn-primary">Add employee</a>
	</div>

	<div class="panel panel-primary">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Salary</th>
						<th>Department</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for e in employees %}
						<tr>
							<td>{{ e.employeeId }}</td>
							<td>{{ e.firstName }}</td>
							<td>{{ e.lastName }}</td>
							<td>{{ e.salary|number_format(2, ',', '.') }}</td>
							<td>{{ (e.department) ? e.department.departmentName }}</td>
							<td>
								<a href="editEmployee/{{e.employeeId}}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
								<a href="deleteEmployee/{{e.employeeId}}" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>

{% endblock %}